@model IndexInfoVM

<div style="background-color:azure; padding:20px;">
    <strong>Crater name:  @Model.CraterName</strong>
    <br />
    <span>Location:  @Model.CraterLocation</span>
    <br />
    <span>Diameter:  @Model.Diameter</span>
    <br />
    <span>Age:  @Model.Age</span>
    <br />
</div>