@model IndexInfoVM

<div style="background-color:azure; padding:20px;">
    <strong>Crater name: test @*@Model.CraterName*@</strong>
    <br />
    <span>Location: sweden @*@Model.CraterLocation*@</span>
    <br />
</div>