@model IndexIndexVM[]
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />

    <title>Index</title>


</head>
<body>

    <h2>Craters/index</h2>

    <br />
    <select id="Select1">
        @foreach (var item in Model)
        {
            <option id="@item.Id"> @item.CraterName</option>

        }

    </select>
    <button id="btnInfo">Go</button>
    <br />
    <input type="text" name="ID" placeholder="Name of crater" id="textBoxCraterName">
    <button id="btnSearch">Search</button>
    <br />

    <div id="divResultDetails"></div>
    <div id="divResultMap"></div>



    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.0.min.js"></script>

    <script src="~/Scripts/JavaScriptIndexInfo.js"></script>

</body>
</html>